<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
      </style>
    <link href="../views/styling/styles.css" rel="stylesheet">

    <title>Unravel</title>
</head>

<body>
    <main>
        <button id = "logout" onclick="signOut">logout</button>
        <article class="container">

            <section class="centered" id = "entryContainer">
            </section>
            
            <button id = "entry-create">+</button>
                
            <aside class="centered">
                    
                <div id="entry-in-container">
                    
                    <button id = "entry-close">X</button>
                    <button id = "delete">delete</button>
                    
                    <form id = "titleBody">
                        <input id = "entryTitle" placeholder="name your entry">
                        <textarea id= "entryBody"placeholder="write about today..."></textarea>
                        <input type="submit" value="Submit" id = "entrySubmit">
                    
                    </form>
                    
                    <button id = "edit">edit</button>
                        
                </div>
            </aside>
        </article>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="views/journal.js"></script>
</body>
</html>