<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="styles.css" rel="stylesheet"> -->

    <title>Login</title>
</head>
<body>
    <main>
        <section class="container">
            <h2>Login</h2>
            <h3>Enter username</h3>
            <input type="text" id="username"/>
            
            <h3>Enter password</h3>
            <input type="text" id="password"/>
            <button id='userLogin'>Submit</button>


            <h2>Sign Up</h2>
            <h3>Enter new username</h3>
            <input type="text" id="newUser"/>
            
            <h3>Create Password</h3>
            <input type="text" id="newPassword"/>
            <button id='newUserSubmit'>Create User</button>

        </section>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/views/main.js"></script>
    </main>

</body>
</html>